body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* navbar */
header{
  top: 0;
  left: 0;
  margin-top: 0;
  padding-top: 0;
  position: fixed;
  display: flex;
  width: 100%;
  height: 40px;
}

#logo {
  width: 60px;
  height: auto;
}

#navbar {
  display: flex;
  justify-content: flex-end;
}

#navbar li {
  font-size: 16px;
  font-weight: 700;
  list-style: none;
  padding-right: 80px;
}

li a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 20px;
}

/* float */
.right {
  float: right;
}

.left {
  float: left;
}

/* sections */
#drive {
  background: url("assets/images/hero.gif") no-repeat fixed ;
  background-position: center;
  background-size: cover;
}

.box {
  height: 100vh;
  box-sizing: border-box;
	padding: 40px 60px;
}

.text-exp {
  width: 200px;
  padding: 20px;
}

.ride {
  display: block;
}

.ride-text {
  padding: 30px;
  margin: 30px;
}

footer {
  background-color: #333448;
}

footer ul {
  list-style: none;
}

/* video */
.video {
  width: 60%;

}

.phone {
  height: 400px;
  width: auto; 
}