body {
  color: #362080;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* navbar */
header {
  top: 0;
  left: 0;
  margin-top: 0;
  padding-top: 0;
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
}

#logo {
  width: 60px;
  height: auto;
}

#navbar ul {
  display: flex;
  justify-content: space-evenly;
  background-color: #1E1436;
}

#navbar li {
  font-size: 16px;
  font-weight: 700;
  list-style: none;
  padding-right: 80px;
}

li a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 20px;
}

/* flex containers */
.flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* sections */
#drive {
  background: url(https://github.com/hlays/lyft/blob/master/assets/images/hero.gif?raw=true) no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}

#drive h1 {
  font-size: 36px;
}

.box {
  width: 500px;
  height: 400px;
  padding: 20px;
  background-color: #FFFFFF;
}

.sign-up {
  font-size: 18px;
}

#drive a {
  font-size: 12px;
}

label {
  font-size: 24px;
  font-weight: 700;
}

input {
  border: none;
  border-bottom: 1px solid #362080;
  font-size: 18px;
  margin-top: 30px;
  width: 350px;
}

#ride {
  color: aliceblue;
  background-image: linear-gradient(#71268B, #351F6A);
  padding: 50px;
}

.text-exp-left {
  width: 300px;
  padding-left: 20px;
  margin-left: 20px;
}

.text-exp-right {
  width: 300px;
  padding-right: 20px;
  margin-right: 20px;
}


#links {
  color: aliceblue;
  background-color: #333448;
  display: flex;
  justify-content: space-evenly;
}

#links ul {
  list-style: none;
  line-height: 3em;
  padding-top: 30px;
}

#links img {
  width: 140px;
  height: 41px;
  padding-top: 30px;
  padding-right: 50px;
}

.title {
  font-weight: 700;
}

/* video */
.video {
  width: 60%;
}

.phone {
  height: 400px;
  width: auto; 
}

/* buttons */
.pink-btn {
  color: aliceblue;
  background-color: #FF00BE;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px 20px 30px 0;
  font-size: 18px;
}

/* footer */
footer {
  color: aliceblue;
  background-color: #333448;
  text-align: center;
  margin: 0;
  padding: 0;
}

footer p {
  margin: 0;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.web-icon-rounded {
  margin: 5px;
  padding: 10px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  font-size: 20px;
  text-align: center;
}

.web-icon {
  font-size: 50px;
  margin-right: 50px;
  margin-left: 50px;
}

hr {
  width: 90%;
}

.copyright {
  font-size: 12px;
  margin-top: 30px;
  padding-bottom: 30px;
}