body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* navbar */
header{
  top: 0;
  left: 0;
  margin-top: 0;
  padding-top: 0;
  position: fixed;
  display: flex;
  width: 100%;
  height: 40px;
}

#logo {
  width: 60px;
  height: auto;
}

#navbar {
  display: flex;
  justify-content: flex-end;
}

#navbar li {
  font-size: 16px;
  font-weight: 700;
  list-style: none;
  padding-right: 80px;
}

li a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 20px;
}

/* flex containers */
.flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* sections */
#drive {
  background: url("assets/images/hero.gif") no-repeat fixed ;
  background-position: center;
  background-size: cover;
}

#ride {
  color: aliceblue;
  background-image: linear-gradient(#71268B, #351F6A);
  padding: 50px;
}

.box {
  height: 100vh;
  box-sizing: border-box;
	padding: 40px 60px;
}

.text-exp-left {
  width: 300px;
  padding-left: 20px;
  margin-left: 20px;
}

.text-exp-right {
  width: 300px;
  padding-right: 20px;
  margin-right: 20px;
}


#links {
  color: aliceblue;
  background-color: #333448;
  display: flex;
  justify-content: space-between;
}

#links ul {
  list-style: none;
  line-height: 3em;
  padding-top: 30px;
}

#links img {
  width: 140px;
  height: 41px;
  padding-top: 30px;
  padding-right: 50px;
}

.title {
  font-weight: 700;
}

/* video */
.video {
  width: 60%;
}

.phone {
  height: 400px;
  width: auto; 
}

/* footer */
footer {
  color: aliceblue;
  background-color: #333448;
  text-align: center;
  margin: 0;
  padding: 0;
}

footer p {
  margin: 0;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.web-icon-rounded {
  margin: 5px;
  padding: 10px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  font-size: 22px;
  text-align: center;
}

.web-icon {
  font-size: 49px;
}

hr {
  width: 80%;
}